<div class="list">
  <div class="list-item">
    <form action="#">
      <div class="form-item">
        <input type="text" name="title" placeholder="edit title tiket" />
      </div>
      <div class="form-item">
        <textarea name="desc" id="" cols="30" rows="10" placeholder="edit description tiket"></textarea>
      </div>
      <div class="form-item">
        <select name="status" id="">
          <option value="open">open</option>
          <option value="progress">in progress</option>
          <option value="close">close</option>
        </select>
      </div>
      <div><button type="button">Сохранить</button></div>
    </form>
  </div>
</div>