<li class="usercard container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div><img src="{{ imgs[0] }}" alt="" appPictureSizes [imgs]='imgs' /></div>
      <h2>Username: {{ user.name.first }} {{ user.name.last }}</h2>
      <p>
        Email: <a href="mailto: {{ user.email }}">{{ user.email }}</a> <br>
        <span>Phone: {{ user.phone }}</span>
      </p>
      <p>Birthday: {{ user.dob | dateFormat: 'medium' }}</p>
       <!-- short|medium|long -->
      <button type="button" (click)="deleteUser(user.cell);">Delete user</button>
    </div>
  </div>
</li>
