<p>
  User card
</p>


<div class="usercard container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <!-- <div><img src="{{ nguserview.picture.medium }}" alt="" /></div>
      <h2>{{ nguserview.name.first }} {{ nguserview.name.last }}</h2> -->
      <!-- <p>
        <a href="mailto:{{ nguserview?.email }}">{{ nguserview?.email }}</a> <br>
        <span>{{ nguserview?.phone }}</span>
      </p>
      <p>{{ nguserview?.dob }}</p> -->

      {{nguserview.email}}
    </div>
  </div>
</div>
