<app-edit-tiket *ngFor="let sltiket of sltikets"></app-edit-tiket>

<div class="slider-wrapper">
  <div class="arrow-left slider-control-btn" (click)="scrolLeft(slider)">&lt;</div>
  
  <div class="slider-content">
    <div class="slider-list" #slider>
      <app-slider-item  class="slider-item" *ngFor="let sltiket of sltikets" [tiket]="sltiket" (onTiketEdit)="editTiketS($event);" ></app-slider-item>
    </div>
  </div>
  
  <div class="arrow-right slider-control-btn" (click)="scrolRight(slider)">&gt;</div>
</div>
